div {
    text-align: center;
    color:white;
}

img {
    max-height: 150px;
}

[container] {
    display: flex;
}

[wrap] {
    flex-wrap: wrap;
}

[box] {
    width: 100%;
    color: black;
}

[red] {
    background-color: darkred;
}

[green] {
    background-color: darkgreen;
}

[blue] {
    background-color: darkblue;
}

@media screen and (min-width: 450px) {
    [red] {
        width: 25%;
    }
    [green] {
        width: 75%;
    }
}
@media screen and (min-width: 550px) {
    [red], [blue] {
        width: 25%;
    }
    [green] {
        width: 50%;
    }
}