
div {
    text-align: center;
}

[container] {
    width: 100%;
}

[flex] {
    display: flex;
}

[box] {
    width: 100px;
}

[wrap] {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

[blue] {
    background-color: blue;
}
[red] {
    background-color: red;
}
[green] {
    background-color: green;
}